<h3>Form {{selected.form.name}}</h3>
<ul class="form-list">
  <!--<li class="forms-item" ng-repeat="form in forms" ng-class="{'form-done': form.isDone}">
    <label><input type="checkbox" ng-click="check()" ng-model="form.isDone"/>&nbsp;{{form.label}}</label>
  </li>-->
  <li ng-repeat="item in selected.form.items">{{item}}</a></li>
  <!--<li class="form-item">
    <form ng-submit="add()">
      <input type="text" placeholder="New item..." ng-model="label"/>
      <button type="submit" ng-disabled="posting || !label">Add</button>
    </form>
  </li>-->
</ul>